@using Pato.Models
@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Home";
}

<nav class="navbar navbar-expand-lg">
</nav>
<ul class="nav justify-content-center">
<ul class="nav nav-tabs">
    <div><h3>@Context.Session.GetString("nome")</h3></div>
</ul>
</ul>
<nav class="navbar navbar-expand-lg">
</nav>
<ul class="nav justify-content-center">
    <div class='col-2'>
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Clientes</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/cliente" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<div class='col-2'>
<div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Fornecedores</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/fornecedor" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<div class='col-2'>
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Orçamentos</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/orcamento" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
</ul>

<nav class="navbar navbar-expand-lg">
</nav>
<ul class="nav justify-content-center">
    <div class='col-2'>
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Pessoas</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/pessoa" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<div class='col-2'>
<div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Produtos</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/produto" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<div class='col-2'>
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Produtos Orçamento</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/produtoorcamento" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
</ul>
</nav>
</nav>
<nav class="navbar navbar-expand-lg">
</nav>
  <ul class="nav justify-content-center">
    <div class='col-2'>
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Produtos Venda</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/produtovenda" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<div class='col-2'>
<div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Usuários</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/usuario" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<div class='col-2'>
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <ul class="nav justify-content-center">
                <p><h5><b>Vendas</b></h5></p>
</ul>
<ul class="nav justify-content-center">
    <p><a href="/venda" class="btn btn-dark bg-dark" role="button" style="margin-top: 10px">Inicial</a></p>
    </ul>
</div>
</div>
</div>
</ul>